@inherits LayoutComponentBase

<main>
    @Body
</main>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@*<MudLayout>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>*@
